<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>LOGIN</h1>
                    <h6>Please enter email & password.</h6>
                </div>
                <form [formGroup]="loginForm" class="formClass">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">User Name</label>
                        <input formControlName="userName" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="button" (click)="onLogIn()" class="btn btn-outline-success">LogIn</button>
                </form>
                <a style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;" routerLink="/signup" routerLinkActive="active">New User? Click to signup</a>
            </div>
        </div>
    </div>
</div>