mat-form-field {
    margin-bottom: 20px;
    margin-right: 12px;
    width: 500px;
  }

  .card {
   
    margin-left: 300px;
    margin-bottom: 100px;
    border: none;
    width: 700px;
    padding: 40px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background: #e4f7f8;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .75);
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

h6 {
    font-size: large;
    margin-bottom: 60px;
}

.bookButton{
  width: 30px;
}