<div>
    <mat-toolbar class="toolBar" >
        <button mat-icon-button matTooltip="Menu" class="example-icon" (click)="sidenav.toggle()">
        <mat-icon class="menu">menu</mat-icon>
        </button>
        <span class="text1">Book Your Slot</span>
        <span class="example-spacer"></span>
        <button mat-icon-button matTooltip="LogIn" class="example-icon" routerLink="/login" routerLinkActive="active">
        <mat-icon class="loginIcon">login</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Profile" class="example-icon" (click)="onProfileIconClick()">
        <mat-icon class="accountIcon">account_circle</mat-icon>
        </button>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #sidenav class="sidenav" mode="side">
            <mat-list>
                <mat-list-item class="itemButton">
                    <mat-icon class="calender">home</mat-icon>
                    <button mat-raised-button color="warn" routerLink="/home" routerLinkActive="active">Home</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="itemButton">
                    <mat-icon class="calender">calendar_today</mat-icon>
                    <button mat-raised-button color="warn" (click)="onSlotClick()">Slot</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="itemButton">
                    <mat-icon class="calender">input</mat-icon>
                    <button mat-raised-button color="warn" routerLink="/login" routerLinkActive="active">LogIn</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="itemButton">
                    <mat-icon class="calender">supervised_user_circle</mat-icon>
                    <button mat-raised-button color="warn" routerLink="/signup" routerLinkActive="active">SignUp</button>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>

        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>