
<div class="card-deck">
  <div class="card  mb-3" *ngFor="let list of slot | paginate: { itemsPerPage: 12, currentPage: page, totalItems:totalLength }" style="background-color: #f3fae4;">
    <!-- <img id="gifImage" [src]="gif.images.downsized.url"  alt="wallpaper"> -->
    <h4 >Booked By: {{list.slotUser}}</h4>
    <div class="card-body">
      <h5 class="card-title">Booked Slot Date: {{list.slotDate}}</h5>
      <h5 class="card-title">Booked Slot Time: {{list.slotTime}}</h5>
      
      
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  -->
       
      <button type="button"  class="btn btn-outline-danger" (click)="onDeleteSlot(list)">Delete</button>
      <!--<button type="button" id="commentIcon" class="btn btn-outline-secondary" (click)="myFunction(gif)"><img id="commentImg" src="assets/icons8-comment-24.png" alt="commentIcon"></button> 
      <img id="commentIcon" src="assets/icons8-comment-24.png" alt="commentIcon" (click)="myFunction()"/> -->
    </div> 
  </div>
</div>

<!-- <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls> -->
<pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>